# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# Database
backend/data/*.duckdb
backend/data/*.duckdb.wal

# Uploads
backend/static/uploads/*
!backend/static/uploads/.gitkeep

# Environment
.env

# Node
node_modules/
frontend/.next/
frontend/out/

# IDE
.idea/
.vscode/
*.swp
